doctype 5
html(lang="ru", class="t-default")
    head
        title КЛЕЙ | KLEY
        link(rel='stylesheet', href='/stylesheets/css/styles.css')
        link(rel='icon', href='images/static/favicon/favicon.png', type='image/png')
        meta(name='author', content='gbws.ru')
    body
        block content