doctype 5
html(lang="ru", class="t-default")
    head
        title КЛЕЙ | KLEY
        link(rel='stylesheet', href='/stylesheets/css/styles.css')
        link(rel='icon', href='images/static/favicon/favicon.ico', type='image/x-icon')
    body
        block content