@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/gotham/webfont/gothampromed.eot');
    src: url('/fonts/gotham/webfont/gothampromed.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gotham/webfont/gothampromed.woff') format('woff'),
         url('/fonts/gotham/webfont/gothampromed.ttf') format('truetype'),
         url('/fonts/gotham/webfont/gothampromed.svg#gotham_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}