.socials-link
    display block
    width 28px
    height 28px
    background url(../../images/modules/socials/socials.png) no-repeat 0 0

    &.socials-link--type

        &-mail
            background-position 0 0

        &-facebook
            background-position -28px 0

        &-behance
            background-position -56px 0

        &-vimeo
            background-position -84px 0

        &-youtube
            background-position -112px 0